body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: black;
    min-height: 100vh;

    /* overflow-x: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    position: relative;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    cursor: pointer;
}

.menu-dropdown {
    position: absolute;
    top: 3rem;
    left: 1rem;

    display: none;
    flex-direction: column;
    gap: 0.5rem;

    background-color: black;
    padding: 1rem;
    border-radius: 5px;
    min-width: 160px;
}

.menu-dropdown a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-dropdown a:hover {
    color: #e83f57;
}

#menu-toggle:checked + .menu-btn + .menu-dropdown {
    display: flex;
}



header {
    max-width: 100%; 
    min-height: 50vh;
    background-color: rgb(100, 225, 100);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

header aside {
    align-self: flex-start;
    padding: 1rem;
}

header h1 {
    font-size: 6rem;
    color: black;
}

.ninja img {
    vertical-align: bottom;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    background-color: black;
}

.wrapper article {
    grid-column: auto / span 3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.75rem;
}

.wrapper article .img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* .wrapper article h2 {
    align-self: center;
    } */
    
    .wrapper article p {
        flex: 1;
        /* text-align: center; */
    }
    
    .big-cards {
    grid-column: auto / span 9;
    
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.big-card {
    flex: 1;
    max-width: 400px;
    background-color: white;
    color: black;
    
    display: flex;
    flex-direction: column;
}

.big-card .big-img {
    width: 100%;
    /* max-width: 420px; */
    height: auto;
    display: block;
    margin: 0 auto;
}

.big-card section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* align-items: center; */
}

.wrapper article button {
    align-self: flex-start;
    margin-top: 1rem;
    color: white;
    cursor: pointer;
    
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1rem;
    background-color: #e83f57;
}

.wrapper .card1 button { --hover-color: #3bbbe2; }
.wrapper .card2 button { --hover-color: #3de07e; }
.wrapper .card3 button { --hover-color: #edd364; }
.wrapper .card4 button { --hover-color: #3de07e; }
.wrapper .card5 button { --hover-color: #edd364; }
.wrapper .card6 button { --hover-color: #3bbbe2; }
.wrapper .card7 button { --hover-color: #3de07e; }
.wrapper .card8 button { --hover-color: #edd364; }
.wrapper .card9 button { --hover-color: #3de07e; }
.wrapper .big-card .button { --hover-color: #edd364; }
.wrapper .big-card .button2 { --hover-color: #3bbbe2; }

.wrapper article button:hover {
    background-color: var(--hover-color);
    border: 1px solid black;
    color: black;
}

footer {
    background-color: #333333;
    color: white;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
    width: 100%;
    padding: 4rem 2rem;
}

.footer-links nav,
.footer-links article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.footer-links a {
    color: #cccccc;
    text-decoration: none;
    font-size: 0.95rem;
}

.footer-links article p {
    margin: 0;
    color: #cccccc;
}

.footer-links a:hover {
    color: white;
}

/* ------------------------------------------------------------------------
                         Checkout Page Here                                  
   ------------------------------------------------------------------------*/

.wrapper-checkout {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    gap: 2rem;
    background-color: black;

    display: flex;
    flex-direction: column;
}

.cart h2 {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: lighter;
}

.cart-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.cart-item {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 0;
}

.cart-item h3 {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.wrapper-checkout .cart .cart-item img {
    width: 100%;
    max-width: 520px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.wrapper-checkout button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    max-width: 250px;
    width: 100%;
    cursor: pointer;

    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 1rem;
    background-color: #e83f57;
    color: white;
    font-weight: bold;
}

.checkout-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.wrapper-checkout button:hover {
    background-color: var(--hover-color);
    border: 1px solid black;
    color: black;
}

.wrapper-checkout .remove-button { --hover-color: #edd364; }
.wrapper-checkout .remove-button2 { --hover-color: #3bbbe2; }
.wrapper-checkout .checkout-button { --hover-color: #e83f57; }

.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;

    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 1rem;
}

.vara {
    grid-column: 1 / 3; 
    background-color: #2f0b0b;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.antal {
    grid-column: 3 / 4; 
    background-color: #2f0b0b;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.pris {
    grid-column: 4 / 5; 
    background-color: #2f0b0b;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.vara1 {grid-column: 1 / 3;}
.antal1 {grid-column: 3 / 4;}
.pris1 {grid-column: 4 / 5;}

.vara2 {grid-column: 1 / 3;}
.antal2 {grid-column: 3 / 4;}
.pris2 {grid-column: 4 / 5;}

.info div {
    background-color: white;
    grid-column: 1 / 5;

    height: 1px;
}

.total {
    grid-column: 1 / 2; 
    font-weight: bold;
    font-size: 1.25rem;
}
.mängd {
    grid-column: 4 / 5; 
    font-weight: bold;
    font-size: 1.25rem;
}


/* ------------------------------------------------------------------------
                         Smaller screen 
                           adapt here                                  
   ------------------------------------------------------------------------*/


@media (max-width: 900px) {
    
    header h1 {
        text-align: center;
        font-size: 3rem;
    }

    .menu-btn img {
        width: 2.5rem;
        height: auto;
    }

    .menu-dropdown {
        top: 4rem;
        left: 1rem;
        width: calc(100vw - 2rem);
        z-index: 1000;
    }
    
    .ninja img {
        width: 8rem;
    }
    
    .wrapper article {
        grid-column: auto / span 9;
    }

    .wrapper article p,
    .wrapper article h2 {
        width: 80%;
        align-self: center;
        text-align: center;
    }
    
    .big-cards {
        flex-direction: column;
        align-items: center;
    }
    
    .big-card {
        max-width: 90%;
        text-align: center;
    }
    
    .wrapper article button {
        align-self: center;
    }

    /*
    ------------------------- 
    Här under kommer checkout
    ------------------------- 
    */

    .cart h2 {
        text-align: center;
        margin-right: 32px;
    }

    .cart-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .cart-item {
        width: 100%;
        max-width: 400px;
    }

    .wrapper-checkout article button {
        align-self: center;
        margin-right: 16px;
        
    }

    .wrapper-checkout {
        padding-left: 1rem;
        padding-right: 1rem;
    }





    /* Här under kommer footern */

    .footer-links {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-links nav,
    .footer-links article {
        align-items: center;
    }

    .social-media .icons {
        justify-content: center;
    }
}